<!DOCTYPE HTML>
<html>

<head>
    <title>Marketplace</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="assets/css/all-ie-only.css" />
    <![endif]-->
    <link rel="stylesheet" href="./css/pay.css" />
</head>

<body>
<div class="page-transition"></div>

<div class="container">
  
  <div class="formHolder signup" style="width: 50%">
    <div class="formHolder signup" style="transform: scale(1); display: block; opacity: 1;">
  <h2 style="color:#b9b9b9;"> This feature will be available soon. </h2>
  
    
    <button type="submit" class="btn btn-sm btn-link loginButton" id="showLogin" style="margin-left: -10px;">Already have an account?</button>
    
  </div>
    
  </div>
  <div class="formHolder login" style="width: 300px">
    
      <h3>Login</h3>
      
      <div class="form-group">
        <input type="text" class="form-control simplebox" id="login" placeholder="E-mail or Login">
      </div>
      
      <div class="form-group">
        <input type="password" class="form-control simplebox" id="password" placeholder="Password">
      </div>
      
      <a href="<%= locals.link %>"><button type="submit" id="loginButton" class="btn btn-sm btn-default simplebutton loginButton">Login</button></a><button type="submit" class="btn btn-sm btn-link newAccButton" id="showSignUp">Don't have an account?</button>
    
  </div>
  
  <div class="formHolder signUp">
    
  </div>
  
</div>

    <!-- Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/velocity/1.2.1/velocity.ui.min.js"></script>
    <script type="text/javascript" src="./js/pay.js"></script>
</body>

</html>